*{
    margin: 0;
    padding: 0;
}
body{
    background: rgb(206, 206, 206);
}
ul{
    list-style: none;
    overflow: hidden;
    display: flex;
    border-bottom: solid 4px yellowgreen;
    width: 100%;
    z-index: 12;
    position: fixed;
    background: #fff;
}
li{
   padding: 18px;
}
li a{
    text-decoration: none;
    font-family: cursive;
    padding: 18px;
    color: teal;
}
li:hover{
    background-image: linear-gradient(135deg, #f5f7fa 0%, #c3cfe2 100%);
}
label{
    color: #fff;
    margin: 10px;
    font-family: cursive;
}
input{
    margin: 10px;
    padding: 10px;
    width: 90%;
    cursor: pointer;
    border: none;
    outline: none;
}
textarea{
    margin: 10px;
}
button{
    padding: 16px;
    width: 150px;
    float: right;
    margin-right: 10px;
    color: #fff;
    border-radius: 10px;
    outline: none;
    border: none;
    font-weight: bold;
    background-image: linear-gradient(120deg, #89f7fe 0%, #66a6ff 100%);
}
.header{
    background-image:
                    linear-gradient(to right, rgba(14, 13, 13, 0.52), rgba(7, 5, 5, 0.73)),
                    url(../images/header.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    padding: 30px;
}
.profile{
    width: 90%;
    height: 500px;
    margin: auto;
    background: #fff;
    margin-top: 80px;
}
.container{
    width: 90%;
    display: flex;
    margin: auto;
}
.about{
    width: 30%;
    height: 500px;
    background: rgb(255, 255, 255);
    margin: 23px;
    border-radius: 40px;
    padding: 5px;
}
.about:hover{
    box-shadow: 1px 1px 8px 2px #888888;
}
h1{
    text-align: center;
    font-family: cursive;
    margin: 10px;
}
.icon{
    width: 150px;
    height: 150px;
    margin: auto;
    background-image: linear-gradient(135deg, #f5f7fa 0%, #c3cfe2 100%);
    border-radius: 50%;
}
.contact{
    display: flex;
    width: 33%;
    height: 300px;
    margin-right: 10px;
    padding: 0;
}
.footer{
    width: 100%;
    background: #000;
    padding: 10px;
    height: 70vh;
}